<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.baobao.hellodemo.dao.RolePermissionMapper">
    <!--<resultMap id="RoleResultMap" type="com.baobao.hellodemo.entity.UserRole">-->
    <!--<id column="id" property="id" jdbcType="INTEGER" />-->
    <!--<result column="roleId" property="roleId" jdbcType="INTEGER" />-->
    <!--<result column="roleName" property="roleName" jdbcType="VARCHAR" />-->
    <!--</resultMap>-->


    <select id="queryByRoleIds"  resultType="com.baobao.hellodemo.entity.RolePermission">
        select * from RolePermissionRbac where roleId in
        <foreach collection="list" open ="(" close=")" separator=","
                 item = "item" > #{item}
        </foreach>

    </select>

    <delete id="deleByRNames" >
        delete from RolePermissionRbac where roleName in
        <foreach collection="list" open ="(" close=")" separator=","
                 item = "item" > #{item}
        </foreach>

    </delete>



</mapper>